
body {
  font-family: 'Courier New', Courier, monospace;
}
header {
  padding: 20px;
  background-image: linear-gradient(blue, red);
  margin: 20px;
  border-radius: 20px;
  border: 2px solid black;
}

header>h1 {
  color: white;
}

container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-view > div {
  width: 120px;
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  background-color: hotpink;
}
.card-view > div > img {
  max-width: 100px;
  max-height: 100px;
}